// variables ///////////////
$design-width = 750px
///////////////////////////

// function ///////////////////////
px2rem(value)
  unit(value / $design-width * 10, 'rem')
px2x2rem(value)
  unit(value / $design-width * 20, 'rem')
///////////////////////////////////////
